.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Ustawia wysokość kontenera na całą dostępną wysokość widoku */
  margin: 0;
}

.screen {
  flex: 1
}

.button {
  margin: 1px;
  font-size: 36px;
  flex: 1;
}

.row {
  display: flex;
  /* border: 1px solid rgb(0, 255, 115); */
  width: 700px;
  height: 100px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 700px;
  background-color: rgb(77, 77, 77);
  border: 1px solid gold;
}